<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>RANG</td>
            <td>TEAM</td>
            <td>POINTS</td>
            <td>J</td>
            <td>G</td>
            <td>N</td>
            <td>P</td>
            <td>+/-</td>
           

        </tr>
        <?php foreach ($data ->result as $value)  :  ?>
        
     
            <tr>
            <td><?= $value['rank'] ?></td>
            <td><?=$value['teamName']?></td>
            <td><?=$clssm['points']?></td>
            <td><?=$clssm['win']?></td>
            <td><?=$clssm['draw']?></td>
            <td><?=$clssm['lose']?></td>
            <td><?=$clssm['goalDiff']?></td>
           
        </tr>
<?php endforeach;?>
            
    </table>
  
</body>
</html>